* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #141922;
}

.sidebar {
  background: #000;
  height: 90vh;
  width: 230px;
  float: left;
  color: #FFF;
  padding-top: 70px;
  font-size: 14px;
  padding-left: 15px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.logo {
  position: absolute;
  height: 30px;
  margin: 15px;
  z-index: 2;
}

.sidebar img {
  display: inline-block;
  padding-right: 5px;
  height: 20px;
  vertical-align: middle;
}

.sidebar i {
  padding-right: 5px;
}

.sidebar ul {
  display: inline-block;
}

.sidebar li {
  padding-bottom: 10px;
  list-style-type: none;
}

.sidebar ul:nth-child(3) {
  overflow: auto;
}

.sidebar ul:nth-child(3) li {
  margin: 5px 0;
}

.sidebar ul:nth-child(3) i {
  font-size: 30px;
  vertical-align: middle;
}

h3 {
  text-transform: uppercase;
  font-size: 14px;
  padding: 15px 0 5px 0;
}

.sidebar__user {
  margin-top: auto;
}

.sidebar__user a {
  display: block;
  border-bottom: 1px solid #FFF;
  padding-bottom: 10px;
  color: grey;
  font-size: 10px;
  font-weight: 600;
}

.profile {
  background-color: grey;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  margin: 10px 10px 0 0;
  background-image: url("../img/profile.svg");
  background-position: 50% 50%;
  display: inline-block;
  vertical-align: baseline;
}

.sidebar__user span {
  font-size: 12px;
  font-weight: 600;
  vertical-align: super;
}

section {
  color: #FFF;
}

.container {
  width: calc(100% - 230px);
  float: left;
  overflow: auto;
}

.upgrade {
  background-color: #101010;
  height: 70px;
  width: 100%;
  flex-direction: row-reverse;
  display: flex;
  align-items: center;
  z-index: 5;
}

.upgrade__button:hover {
  transform: scale(1.1);
}

.upgrade__button {
  margin-right: 10px;
  padding: 8px 30px;
  border-radius: 20px;
  background-color: inherit;
  color: #FFF;
  text-transform: uppercase;
  font-weight: 700;
  border: 1px solid #FFF;
  font-size: 12px;
}

.menubar {
  text-align: center;
  padding-bottom: 20px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  padding-top: 15px;
}

.menubar li {
  display: inline-block;
  padding-right: 10px;
}

.menubar a:hover:after {
  color: #FFF;
  content: "";
  position: absolute;
  left: 30%;
  bottom: -2px;
  width: 40%;
  border-bottom: 2px solid #1DB954;
}

a {
  position: relative;
  text-decoration: none;
  color: grey;
}

a:hover {
  color: #FFF;
}

h2 {
  padding: 10px;
}

.products {
  margin: auto;
  width: 95%;
  height: 74vh;
}

.products__cover {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}

.product {
  width: 204px;
  padding: 10px;
}

.product img {
  width: 100%;
  opacity: 1;
  transition: 0.2s linear;
}

.product:hover.product img {
  opacity: 0.3;
}

.product__img {
  position: relative;
}

.product__img i {
  color: white;
  font-size: 50px;
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
}

.product:hover .product__img i {
  display: block;
}

.products p {
  font-size: 10px;
  padding: 3px 10px;
  color: #666666;
  font-weight: 600;
}

.artists img {
  border-radius: 50%;
}

h1 {
  padding: 5px 0;
  font-size: 14px;
}

main:after {
  content: "";
  display: table;
  clear: both;
}

footer {
  width: 100%;
  background-color: #282828;
  position: fixed;
  left: 0;
  bottom: 0;
}

.media__controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.media__controls i {
  font-size: 12px;
  padding-bottom: 10px;
  margin-right: 10px;
}

.media__controls .fa-play-circle {
  font-size: 25px;
}

.media__controls .fa-play-circle:hover {
  transform: scale(1.2);
}

footer ul {
  padding-top: 10px;
  list-style-type: none;
  display: flex;
}

footer li {
  font-size: 18px;
  margin-right: 15px;
}

footer a {
  color: #FFF;
}

.media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  color: #FFF;
}

.media__playing {
  margin-left: 15px;
  display: flex;
}

.media__playing img {
  height: 50px;
  width: auto;
  margin-right: 10px;
}

.media__playing__title {
  font-weight: 600;
  font-size: 12px;
}

.media__playing__title i {
  padding-left: 5px;
  color: grey;
}

.media__playing__title small {
  color: grey;
  padding-right: 20px;
}

.media__playing__title small:hover {
  color: #FFF;
  text-decoration: underline;
}

.media__playing__title i:hover {
  color: #FFF;
}

.media__volume i {
  padding-right: 15px;
  font-size: 12px;
}

.media__progress span {
  font-size: 8px;
  margin: 10px;
  vertical-align: middle;
}

.bar {
  display: inline-block;
  height: 3px;
  background-color: grey;
  border-radius: 10px;
  vertical-align: top;
}

.bar:hover .bar--active {
  background-color: #1DB954;
}

.bar:hover .bar--active::after {
  display: block;
  content: "";
  position: absolute;
  bottom: -5px;
  right: -10px;
  width: 13px;
  height: 13px;
  background-color: #FFF;
  border-radius: 50%;
}

.progress__bar {
  margin-top: 10px;
  width: 400px;
}

.bar--active {
  background-color: #FFF;
  height: 3px;
  width: 50px;
  border-radius: 10px;
  position: relative;
}

.volume__bar {
  width: 100px;
  vertical-align: middle;
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 60px;
  }

  .container {
    width: calc(100% - 60px);
  }

  .logo {
    display: none;
  }

  .sidebar h3 {
    display: none;
  }

  .sidebar ul {
    display: none;
  }

  .bar {
    width: 150px;
  }
}
