* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #141922;
}

.sidebar {
  background: #000;
  height: 90vh;
  width: 230px;
  float: left;
  color: #FFF;
  padding-top: 70px;
  font-size: 14px;
  padding-left: 20px;
  overflow: auto;
  padding-bottom: 90px;
}

.sidebar i {
  padding-right: 10px;
}

.sidebar li {
  padding-bottom: 10px;
  list-style-type: none;
}

.sidebar ul:nth-child(3) li {
  margin: 5px 0;
}

.sidebar ul:nth-child(3) i {
  font-size: 30px;
  vertical-align: middle;
}

h3 {
  text-transform: uppercase;
  font-size: 14px;
  padding: 15px 0 5px 0;
}

.sidebar__user {
  position: fixed;
  padding: 10px 0;
  bottom: 80px;
  width: 200px;
  background-color: black;
}

.sidebar__user a {
  display: block;
  border-bottom: 1px solid #FFF;
  padding-bottom: 10px;
  color: grey;
  font-size: 10px;
}

.sidebar__user p {
  padding-top: 10px;
}

section {
  color: #FFF;
}

.container {
  width: calc(100% - 230px);
  float: left;
}

.upgrade {
  background-color: #101010;
  height: 70px;
  width: 100%;
  flex-direction: row-reverse;
  display: flex;
  align-items: center;
}

.upgrade button {
  margin-right: 10px;
  padding: 8px 30px;
  border-radius: 20px;
  background-color: inherit;
  color: #FFF;
  text-transform: uppercase;
  font-weight: 700;
  border: 1px solid #FFF;
  font-size: 12px;
}

.menubar {
  text-align: center;
  padding-bottom: 20px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  padding-top: 15px;
}

.menubar li {
  display: inline-block;
  padding-right: 10px;
}

a {
  text-decoration: none;
  color: grey;
}

h2 {
  padding: 20px 0;
}

.products {
  margin: auto;
  width: 95%;
  height: 74vh;
  overflow: auto;
}

.products__cover {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  overflow: auto;
}

h1 {
  font-size: 14px;
}

main:after {
  content: "";
  display: table;
  clear: both;
}

footer {
  height: 80px;
  width: 100%;
  background-color: #1c1c1c;
  position: fixed;
  left: 0;
  bottom: 0;
}

.media__controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer ul {
  padding-top: 10px;
  list-style-type: none;
  display: flex;
}

footer li {
  font-size: 18px;
  margin-right: 15px;
}

footer a {
  color: #FFF;
}

.media {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
}
